/* ==========================================================================
   section / components
   ========================================================================== */
.section {
    margin-top: 10rem;
    h2 {
        margin: 0;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        line-height: 1;
    }
}
