{% include '_partials/_header.html' %}

<section class="intro">
    <div class="wrapper">
        <section class="split__section" id="intro">
            <h1>TP2 - La compréhension</h1>
            <p>
                L'objectif de ce travail pratique, est de mettre en application les méthodes de mise en page <em>responsive</em>, la mise en page avec les
                grilles, l'utilisation d'une libraire externe et finalement les techniques de mise en page avancées avec pseudo-élément.
            </p>

            <p>
                Pour m'assurer de la bonne compréhension dans l'exécution de ce travail pratique, je vous demande de me fournir une vidéo explicative qui
                démontre votre compréhension de votre code.
            </p>
            <p>Liens utiles</p>
            <ul>
                <li><a href="[GITHUB]" target="_blank">Énoncé</a></li>
                <li><a href="[GITHUB]" target="_blank">Grille de correction</a></li>
            </ul>
            <h2>Votre compréhension</h2>
            <p>Ajouter votre lien youtube ici: <a href="[LIENYOUTUBE]" target="_blank">ma vidéo</a></p>
        </section>
    </div>
</section>

{% include '_partials/_footer.html' %}
