{% include '_partials/_header.html' with {'title': 'Question #1'} %}

<section class="section">
    <div class="wrapper">
        <div class="calendar">
            <header>
                <h2>Décembre</h2>
                <p>2022</p>
            </header>
            <div class="day">Lundi</div>
            <div class="day">Mardi</div>
            <div class="day">Mercredi</div>
            <div class="day">Jeudi</div>
            <div class="day">Vendredi</div>
            <div class="day">Samedi</div>
            <div class="day">Dimanche</div>
            <div class="number empty"></div>
            <div class="number empty"></div>
            <div class="number empty"></div>
            <div class="number num1">
                <p>1</p>
            </div>
            <div class="number">
                <p>2</p>
            </div>
            <div class="number">
                <p>3</p>
            </div>
            <div class="number">
                <p>4</p>
            </div>
            <div class="number">
                <p>5</p>
            </div>
            <div class="number">
                <p>6</p>
            </div>
            <div class="number">
                <p>7</p>
            </div>
            <div class="number">
                <p>8</p>
            </div>
            <div class="number">
                <p>9</p>
            </div>
            <div class="number">
                <p>10</p>
            </div>
            <div class="number">
                <p>11</p>
            </div>
            <div class="number">
                <p>12</p>
            </div>
            <div class="number">
                <p>13</p>
            </div>
            <div class="number">
                <p>14</p>
            </div>
            <div class="number">
                <p>15</p>
            </div>
            <div class="number">
                <p>16</p>
            </div>
            <div class="number">
                <p>17</p>
            </div>
            <div class="number">
                <p>18</p>
            </div>
            <div class="number">
                <p>19</p>
            </div>
            <div class="number">
                <p>20</p>
            </div>
            <div class="number">
                <p>21</p>
            </div>
            <div class="number">
                <p>22</p>
            </div>
            <div class="number">
                <p>23</p>
            </div>
            <div class="number">
                <p>24</p>
            </div>
            <div class="number">
                <p>25</p>
            </div>
            <div class="number">
                <p>26</p>
            </div>
            <div class="number">
                <p>27</p>
            </div>
            <div class="number">
                <p>28</p>
            </div>
            <div class="number">
                <p>29</p>
            </div>
            <div class="number">
                <p>30</p>
            </div>
            <div class="number">
                <p>31</p>
            </div>
            <div class="number empty">
                <p></p>
            </div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}
