{% include '_partials/_header.html' with {'title': 'Question #5'} %}

<section class="section">
    <div class="wrapper">
        <!-- VOTRE CODE ICI (SUPPRIMER CE COMMENTAIRE )-->
        <!-- Icône que vous devez ajouter : computer-->
        <h3>Ordinateur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum necessitatibus praesentium, ratione asperiores quasi quidem.</p>

        <!-- Icône que vous devez ajouter : iphone-->
        <h3>iPhone</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum necessitatibus praesentium, ratione asperiores quasi quidem.</p>

        <!-- Icône que vous devez ajouter : machine-->
        <h3>Machine</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum necessitatibus praesentium, ratione asperiores quasi quidem.</p>

        <!-- Icône que vous devez ajouter : router-->
        <h3>Routeur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum necessitatibus praesentium, ratione asperiores quasi quidem.</p>

        <!-- Icône que vous devez ajouter : scanner-->
        <h3>Scanneur</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum necessitatibus praesentium, ratione asperiores quasi quidem.</p>

        <!-- Icône que vous devez ajouter : screen-->
        <h3>Écran</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum necessitatibus praesentium, ratione asperiores quasi quidem.</p>

        <!-- Icône que vous devez ajouter : tablette-->
        <h3>Tablette</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum necessitatibus praesentium, ratione asperiores quasi quidem.</p>

        <!-- Icône que vous devez ajouter : watch-->
        <h3>Montre</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum necessitatibus praesentium, ratione asperiores quasi quidem.</p>
    </div>
</section>
{% include '_partials/_footer.html' %}
