{% include '_partials/_header.html' with {'title': 'Question #2'} %}

<!-- VOTRE CODE ICI (SUPPRIMER CE COMMENTAIRE )-->
<section class="section">
    <div class="wrapper">
        <!-- VOTRE CODE ICI (SUPPRIMER CE COMMENTAIRE )-->

        <img src="assets/images/carousel1.jpg" alt="Photo italie #1" />
        <img src="assets/images/carousel2.jpg" alt="Photo italie #2" />
        <img src="assets/images/carousel3.jpg" alt="Photo italie #3" />
        <img src="assets/images/carousel4.jpg" alt="Photo italie #4" />
        <img src="assets/images/carousel5.jpg" alt="Photo italie #5" />
    </div>
</section>
{% include '_partials/_footer.html' %}
