{% include '_partials/_header.html' with {'title': 'Question #4'} %}

<section>
    <!-- VOS AJUSTEMENT ICI(SUPPRIMER CE COMMENTAIRE )-->
    <img src="assets/images/disney1.jpg" alt="Expédition Éverest" />
    <h3>Expédition Éverest</h3>
    <p>Animal Kingdom</p>

    <img src="assets/images/disney2.jpg" alt="Château de Cendrillo" />
    <h3>Château de Cendrillon</h3>
    <p>Animal Kingdom</p>

    <img src="assets/images/disney3.jpg" alt="Parade StormTrooper" />
    <h3>Parade StormTrooper</h3>
    <p>Holywood Studio</p>

    <img src="assets/images/disney4.jpg" alt="Kilamanjaro Safaris" />
    <h3>Kilamanjaro Safaris</h3>
    <p>Animal Kingdom</p>
</section>
{% include '_partials/_footer.html' %}
