{% include '_partials/_header.html' with {'title': 'Question #3'} %}

<!-- VOTRE CODE ICI (SUPPRIMER CE COMMENTAIRE )-->
<section class="section">
    <div class="wrapper">
        <img src="assets/images/card1.jpg" alt="Image #1" />
        <h3>Mon image</h3>

        <img src="assets/images/card2.jpg" alt="Image #2" />
        <h3>Mon image</h3>

        <img src="assets/images/card3.jpg" alt="Image #3" />
        <h3>Mon image</h3>

        <img src="assets/images/card4.jpg" alt="Image #4" />
        <h3>Mon image</h3>

        <img src="assets/images/card5.jpg" alt="Image #5" />
        <h3>Mon image</h3>
    </div>
</section>

{% include '_partials/_footer.html' %}
